.leaflet-sbs {
    position: relative;
    overflow: hidden;
  }
  
  .leaflet-sbs-range {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .leaflet-sbs-divider {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background: #000;
    width: 2px;
    height: 100%;
    z-index: 999;
  }
  