/* Variáveis de Cores e Estilos Básicos */
:root {
    --primary-color: rgb(0, 70, 12);
    --secondary-color: #ffffff; /* Branco */
    --background-color: rgba(252, 252, 252, 0.8); /* Verde-água transparente */
    --text-color: rgb(0, 70, 12); /* Cinza claro para mais contraste */
    --border-radius: 10px;
    --font-weight: 500; /* Peso médio para o texto */
    --text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Sombra sutil para melhorar a legibilidade */
    --input-bg-color: rgba(207, 206, 206, 0.8); /* Cor de fundo escura para inputs */
    --input-border-color: #666; /* Cor da borda para inputs */
}



/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    padding: 0 20px;
    font-size: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 1001;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra um pouco mais proeminente */
}

.header-left, .header-right {
    display: flex;
    align-items: center;
}

.header-right{
    margin-right: 20px;
}

.logo {
    height: 60px;
    margin-right: 20px;
}

/* Botões do Cabeçalho */
.home-button, .documentation-button, .about-button {
    padding: 10px 20px;
    color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}


.home-button:hover, .documentation-button:hover, .about-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Layout Principal */
#container {
    display: flex;
    flex-direction: row; /* Organiza o conteúdo horizontalmente */
    top: 60px; /* Início abaixo do cabeçalho */
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px); /* Altura total menos a altura do cabeçalho */
}

#map {
    flex-grow: 1;
    height: 100%;
}

#linhaDoTempo {
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    gap: 10px;
  }
  
  .bulletPoint {
    cursor: pointer;
    padding: 5px;
    background-color: #007bff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  


/* Estilos da Sidebar */
#sidebar {
    position: fixed;
    top: 60px; /* Altura do header */
    left: 0;
    width: 320px; /* Largura do sidebar */
    height: calc(100vh - 60px); /* Altura total menos a altura do header */
    background: var(--background-color);
    overflow-y: auto;
    z-index: 500; 
    padding: 20px;
    font-size: 18px; /* Aumenta a fonte do sidebar */
    line-height: 1.6; /* Melhora a legibilidade do texto */
}

#sidebar:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Estilos dos Inputs */
input[type="text"], input[type="date"], input[type="number"], select, input[type="range"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    background-color: var(--input-bg-color);
    color: var(--primary-color);
    box-sizing: border-box;
}

/* Estilos dos Botões */
button {
    width: 100%;
    height: 10%;
    margin: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
}

button:hover {
    background-color: darken(var(--primary-color), 10%);
    border: 2px solid var(--primary-color); /* Adiciona borda ao passar o mouse */
}

/* Estilos Personalizados do Slider */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
}

/* Esconder Controles do Leaflet Draw */
.leaflet-draw-toolbar {
    display: none !important;
}

/* Estilos para Contêineres de Campos Agrupados */
.date-container, .lat-long-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; /* Espaço entre os grupos de inputs */
}

/* Estilos para Grupos de Inputs */
.input-group {
    flex: 1;
    margin-right: 10px;
}

.input-group:last-child {
    margin-right: 0; /* Remove margem direita do último elemento */
}

/* Estilos para o Botão SVG */
.svg-button {
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    flex-grow: 1;
    margin-right: 10px;
}

.svg-button img {
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.svg-button span {
    font-size: 14px;
}

.svg-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color) !important;
}


.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}


.secondary-button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;

}


/* menu de utilidades leaflet */

.leaflet-left .leaflet-control{
    margin-left: 380px !important;     
}