<!DOCTYPE html>
<html>
<head>
    <title>Cuborizonte</title>
    <!-- Load Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- Load Leaflet Draw -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <!-- Load Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'maps/css/map.css' %}">
</head>
<body>

    
      

    <div id="container">
        <!-- Sidebar -->
        <div id="sidebar">

            <!-- Slider for image selection -->
            <label for="imageSlider" id="imageSliderLabel" style="display: none;">Linha do tempo:</label>
            <div id="linhaDoTempo">
                <!-- Pontos da linha do tempo serão inseridos aqui via JavaScript -->
            </div>


            <form id="coordenadasForm" method="post">

            
                <!-- Product Dropdown -->
                <label for="produto">Produto:</label><br>
                <select id="produto" name="produto">
                    <option value="ortofoto">Ortofotos</option>
                    <option value="planta">Plantas</option>
                    <!-- Add more products as needed -->
                </select><br>

                <!-- Contêiner para os Campos de Data -->
                <div class="date-container">
                    <!-- Start Date -->
                    <div class="input-group">
                        <label for="start_date">Start Date:</label><br>
                        <input type="date" id="start_date" name="start_date">
                    </div>

                    <!-- End Date -->
                    <div class="input-group">
                        <label for="end_date">End Date:</label><br>
                        <input type="date" id="end_date" name="end_date">
                    </div>
                </div>

                {% csrf_token %}
                <!-- Campos de Latitude -->
                <div class="lat-long-container">
                    <div class="input-group">
                        <label for="latitude_inicial">Latitude Inicial:</label><br>
                        <input type="number" id="latitude_inicial" name="latitude_inicial" step="any" readonly>
                    </div>
                    <div class="input-group">
                        <label for="latitude_final">Latitude Final:</label><br>
                        <input type="number" id="latitude_final" name="latitude_final" step="any" readonly>
                    </div>
                </div>

                <!-- Campos de Longitude -->
                <div class="lat-long-container">
                    <div class="input-group">
                        <label for="longitude_inicial">Longitude Inicial:</label><br>
                        <input type="number" id="longitude_inicial" name="longitude_inicial" step="any" readonly>
                    </div>
                    <div class="input-group">
                        <label for="longitude_final">Longitude Final:</label><br>
                        <input type="number" id="longitude_final" name="longitude_final" step="any" readonly>
                    </div>
                </div>

                <!-- Contêiner para os botões -->
                <div class="button-container"> <!-- Adicionado novo contêiner aqui -->
                    <!-- Botão de Desenho com SVG -->
                    <button id="draw_retangle" type="button" onclick="startDrawing(event)" class="svg-button">
                        <img src="{% static 'maps/asset/bbox.svg' %}" alt="Ícone de bounding box">
                        <span>BBox</span>
                    </button>                                       

                    <!-- Botão de Busca -->
                    <button id="buscarDadosButton" type="button" onclick="atualizarProdutosFiltrados()" class="svg-button" >
                        <img src="{% static 'maps/asset/search.svg' %}" alt="Ícone de busca">
                        <span>Buscar Dados</span>
                    </button>
                </div>
                <!-- Botão de Download -->
                <button type="button" id="downloadButton" onclick="downloadDados()">Download</button>
            </form>
   
        </div>

        <!-- Container for the map -->
        <div id="map"></div>
    </div>

    <!-- Include the external JavaScript file -->
    <script src="{% static 'maps/js/map.js' %}"></script>
</body>
</html>
