/* styles/App.css */

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar-brand {
  padding-left: 10px;
}

.navbar {
  position: relative;
  z-index: 1000;
}

.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: visible;
}

.chart-overlay {
  position: absolute;
  top: 25px;
  right: 10px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.959);
  padding: 10px;
  border-radius: 8px;
  z-index: 1000;
}

.chart-overlay canvas {
  width: 100% !important;
  height: auto !important;
}

.pixel-chart-container {
  width: 100%;
  height: 250px;
}

.product-selection {
  display: flex;
}

.product-left, .product-right {
  flex: 1;
}

.product-timeline {
  display: flex;
  flex-wrap: wrap;
}

.pointer {
  cursor: crosshair;
}

/* Estilos para o controle Leaflet Side by Side */
.leaflet-sbs-range {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.leaflet-sbs-divider {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background: #000;
  width: 2px;
  height: 100%;
  z-index: 1000;
}

.leaflet-sbs-handle {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: auto;
  background: transparent;
  width: 30px;
  height: 100%;
  z-index: 1001;
  cursor: ew-resize;
}

.leaflet-sbs-handle:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #000;
  border-radius: 50%;
}

/* Ajuste o espaçamento entre as abas e o conteúdo */
.nav-tabs {
  margin-bottom: 15px;
}

/* Opcional: estilos personalizados para as abas */
.nav-tabs .nav-link {
  cursor: pointer;
}
